/*===== main styles =====*/
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #1f1e1d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button,
input {
  font-family: "Lato", sans-serif;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

.header {
  min-height: 80px;
  padding: 14px 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-family: "Permanent Marker", cursive;
  font-size: 36px;
  cursor: pointer;
  color: #2e7d32;
}

.header__navigation {
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.header__link {
  position: relative;
}
.header__link a {
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.header__link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #43a047;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__link:hover.header__link::after {
  opacity: 1;
}

.header__panel,
.header__cart,
.header__loggin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__cart {
  position: relative;
  margin-right: 10px;
}

.header__cart,
.header__loggin {
  padding: 5px 10px;
  border: 1px solid #388e3c;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__cart:hover,
.header__loggin:hover {
  background-color: #c8e6c9;
}

.header__cart span,
.header__loggin span {
  margin-right: 0.5rem;
  letter-spacing: 0.1rem;
}

.header__amount {
  position: absolute;
  top: 2px;
  right: -2px;
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  border-radius: 50%;
  color: #fff;
  background-color: #388e3c;
  font-size: 12px;
}

.intro {
  min-height: 100vh;
}

.intro__wrapper {
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.intro__description {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__title {
  width: 100%;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.intro__subtitle {
  width: 100%;
  margin-bottom: 2rem;
  line-height: 2;
  font-size: 1.25rem;
}

.intro__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  height: 48px;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: #388e3c;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
}
.intro__btn:hover {
  color: #1f1e1d;
  background-color: #81c784;
}

.intro__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.intro__image img {
  border-radius: 5px;
}
.intro__image .intro__first {
  position: absolute;
  right: 30px;
  bottom: 80px;
  z-index: 5;
  width: 75%;
  height: 65%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__image .intro__second {
  position: absolute;
  left: -20px;
  bottom: 80px;
  z-index: 10;
  width: 55%;
  height: 25%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__image .intro__block {
  position: absolute;
  left: 60px;
  bottom: 80px;
  z-index: 2;
  width: 15%;
  height: 55%;
  border-radius: 5px;
  background-color: #a5d6a7;
}

.latest {
  padding: 5rem 0;
  background-color: #c8e6c9;
}

.latest__title {
  position: relative;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 0.1rem;
  margin: 0;
  margin-bottom: 0.75rem;
  text-transform: capitalize;
  text-align: center;
}
.latest__title::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 6rem;
  height: 0.25rem;
  background-color: #2e7d32;
}

.card__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 265px;
  gap: 2.5rem;
  margin: 6rem auto 4rem;
}

.card__img {
  height: 225px;
  position: relative;
  background-color: #43a047;
  border-radius: 5px;
  overflow: hidden;
}
.card__img:hover .overlay {
  opacity: 1;
}
.card__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.show__more {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #43a047;
  cursor: pointer;
}

.card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.card__title {
  color: #1b5e20;
}

.card__price {
  color: #43a047;
}

.latest__btn {
  margin: 0 auto;
}

.about {
  padding: 5rem 0;
  background-color: #a5d6a7;
}

.about__title {
  margin-bottom: 2rem;
  line-height: 1;
  font-size: 2rem;
  color: #1b5e20;
  font-weight: 700;
}

.about__subtitle {
  line-height: 1.8;
  color: #1b5e20;
  font-size: 1rem;
}

.about__wrapper {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  margin-top: 4rem;
}

.about__item {
  padding: 2.5rem 2rem;
  border-radius: 0.25rem;
  background-color: #81c784;
}

.about__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}
.about__icon span {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #a5d6a7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__header {
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;
  color: #1b5e20;
  font-weight: 700;
}

.about__text {
  font-size: 1rem;
  line-height: 1.8;
  text-align: center;
  color: #1b5e20;
}

.join {
  padding: 5rem 0;
}

.join__title {
  margin-bottom: 2rem;
  line-height: 1;
  font-size: 2rem;
  font-weight: 700;
}

.join__subtitle {
  line-height: 2;
  max-width: 45rem;
  margin-bottom: 1.25rem;
}

.join__form {
  max-width: 500px;
  height: 2.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: 5px;
}
.join__form input {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.join__email {
  border: 2px solid #1b5e20;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.join__email:focus {
  border: 3px solid #1b5e20;
}

.join__submit {
  border: 2px solid #1b5e20;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #388e3c;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
  cursor: pointer;
}
.join__submit:hover {
  color: #1f1e1d;
  background-color: #81c784;
}

.footer {
  background-color: #1b5e20;
  height: 80px;
}

.footer__wrapper {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  width: 4rem;
}
.footer__logo a {
  display: inline-block;
  width: 100%;
}
.footer__logo svg {
  display: block;
  width: 100%;
  height: auto;
}

.footer__info {
  color: #fff;
  line-height: 1.25;
  letter-spacing: 0.1rem;
}
.footer__info span {
  color: #66bb6a;
}

.footer__repo {
  width: 2rem;
}
.footer__repo a {
  display: inline-block;
  width: 100%;
}
.footer__repo svg {
  display: block;
  width: 100%;
  height: auto;
}