/*===== colors =====*/
/*===== fonts =====*/
/*===== main styles =====*/
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #1f1e1d;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button,
input {
  font-family: "Lato", sans-serif;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

.header {
  min-height: 80px;
  padding: 14px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: "Permanent Marker", cursive;
  font-size: 36px;
  cursor: pointer;
  color: #2e7d32;
}

.header__navigation {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.header__link {
  position: relative;
}
.header__link a {
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.header__link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #43a047;
  opacity: 0;
  transition: all 0.2s linear;
}

.header__link:hover.header__link::after {
  opacity: 1;
}

.header__panel,
.header__cart,
.header__loggin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__cart {
  position: relative;
  margin-right: 10px;
}

.header__cart,
.header__loggin {
  padding: 5px 10px;
  border: 1px solid #388e3c;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.header__cart:hover,
.header__loggin:hover {
  background-color: #c8e6c9;
}

.header__cart span,
.header__loggin span {
  margin-right: 0.5rem;
  letter-spacing: 0.1rem;
}

.header__amount {
  position: absolute;
  top: 2px;
  right: -2px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 50%;
  color: #fff;
  background-color: #388e3c;
  font-size: 12px;
}

.intro {
  min-height: calc(100vh - 100px);
}

.intro__wrapper {
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.intro__description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro__title {
  width: 100%;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.intro__subtitle {
  width: 100%;
  margin-bottom: 2rem;
  line-height: 2;
  font-size: 1.25rem;
}

.intro__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 48px;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: #388e3c;
  color: #fff;
  transition: all 0.2s linear;
}
.intro__btn:hover {
  color: #1f1e1d;
  background-color: #81c784;
}

.intro__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.intro__image img {
  border-radius: 5px;
}
.intro__image .intro__first {
  position: absolute;
  right: 30px;
  bottom: 80px;
  z-index: 5;
  width: 75%;
  height: 65%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__image .intro__second {
  position: absolute;
  left: -20px;
  bottom: 80px;
  z-index: 10;
  width: 55%;
  height: 25%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__image .intro__block {
  position: absolute;
  left: 60px;
  bottom: 80px;
  z-index: 2;
  width: 15%;
  height: 55%;
  border-radius: 5px;
  background-color: #a5d6a7;
}