// font-family: 'Lato', sans-serif;
// font-family: 'Permanent Marker', cursive;

//colors

$green_lighten_4: #c8e6c9;
$green_lighten_3: #a5d6a7;
$green_lighten_2: #81c784;
$green_lighten_1: #66bb6a;
$green: #4caf50;
$green_darken_1: #43a047;
$green_darken_2: #388e3c;
$green_darken_3: #2e7d32;
$green_darken_4: #1b5e20;
$dark: #1f1e1d;

//fonts
$font_main: "Lato", sans-serif;
$font_logo: "Permanent Marker", cursive;
$spacing: 0.1rem;

/*===== main styles =====*/
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font_main;
  color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button,
input {
  font-family: $font_main;
  border: none;
  appearance: none;
  outline: none;
}

// Header Styles

.header {
  min-height: 80px;
  padding: 14px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: $font_logo;
  font-size: 36px;
  cursor: pointer;
  color: $green_darken_3;
}

.header__navigation {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.header__link {
  position: relative;

  & a {
    font-weight: 300;
    letter-spacing: $spacing;
  }
}

.header__link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $green_darken_1;
  opacity: 0;
  transition: all 0.2s linear;
}

.header__link:hover.header__link::after {
  opacity: 1;
}

.header__panel,
.header__cart,
.header__loggin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__cart {
  position: relative;
  margin-right: 10px;
}

.header__cart,
.header__loggin {
  padding: 5px 10px;
  border: 1px solid $green_darken_2;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.header__cart:hover,
.header__loggin:hover {
  background-color: $green_lighten_4;
}

.header__cart span,
.header__loggin span {
  margin-right: 0.5rem;
  letter-spacing: $spacing;
}

.header__amount {
  position: absolute;
  top: 2px;
  right: -2px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 50%;
  color: #fff;
  background-color: $green_darken_2;
  font-size: 12px;
}

// Intro Styles

.intro {
  min-height: 100vh;
}

.intro__wrapper {
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.intro__description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro__title {
  width: 100%;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.intro__subtitle {
  width: 100%;
  margin-bottom: 2rem;
  line-height: 2;
  font-size: 1.25rem;
}

.intro__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 48px;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: $green_darken_2;
  color: #fff;
  transition: all 0.2s linear;
  text-transform: uppercase;

  &:hover {
    color: $dark;
    background-color: $green_lighten_2;
  }
}

.intro__image {
  position: relative;
  width: 100%;
  height: 100%;

  & img {
    border-radius: 5px;
  }

  & .intro__first {
    position: absolute;
    right: 30px;
    bottom: 80px;
    z-index: 5;
    width: 75%;
    height: 65%;
    object-fit: cover;
  }

  & .intro__second {
    position: absolute;
    left: -20px;
    bottom: 80px;
    z-index: 10;
    width: 55%;
    height: 25%;
    object-fit: cover;
  }

  & .intro__block {
    position: absolute;
    left: 60px;
    bottom: 80px;
    z-index: 2;
    width: 15%;
    height: 55%;
    border-radius: 5px;
    background-color: $green_lighten_3;
  }
}

// Latest Styles

.latest {
  padding: 5rem 0;
  background-color: $green_lighten_4;
}

.latest__title {
  position: relative;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: $spacing;
  margin: 0;
  margin-bottom: 0.75rem;
  text-transform: capitalize;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 6rem;
    height: 0.25rem;
    background-color: $green_darken_3;
  }
}

.card__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 265px;
  gap: 2.5rem;
  margin: 6rem auto 4rem;
}

.card__img {
  height: 225px;
  position: relative;
  background-color: $green_darken_1;
  border-radius: 5px;
  overflow: hidden;

  &:hover .overlay {
    opacity: 1;
  }

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.2s linear;
}

.show__more {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green_darken_1;
  cursor: pointer;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.card__title {
  color: $green_darken_4;
}

.card__price {
  color: $green_darken_1;
}

.latest__btn {
  margin: 0 auto;
}

// About Styles

.about {
  padding: 5rem 0;
  background-color: $green_lighten_3;
}

.about__title {
  margin-bottom: 2rem;
  line-height: 1;
  font-size: 2rem;
  color: $green_darken_4;
  font-weight: 700;
}

.about__subtitle {
  line-height: 1.8;
  color: $green_darken_4;
  font-size: 1rem;
}

.about__wrapper {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  margin-top: 4rem;
}

.about__item {
  padding: 2.5rem 2rem;
  border-radius: 0.25rem;
  background-color: $green_lighten_2;
}

.about__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  & span {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: $green_lighten_3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.about__header {
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;
  color: $green_darken_4;
  font-weight: 700;
}

.about__text {
  font-size: 1rem;
  line-height: 1.8;
  text-align: center;
  color: $green_darken_4;
}

// Join Styles

.join {
  padding: 5rem 0;
}

.join__title {
  margin-bottom: 2rem;
  line-height: 1;
  font-size: 2rem;
  font-weight: 700;
}

.join__subtitle {
  line-height: 2;
  max-width: 45rem;
  margin-bottom: 1.25rem;
}

.join__form {
  max-width: 500px;
  height: 2.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: 5px;
  // border: 2px solid $green_darken_4;

  & input {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

.join__email {
  border: 2px solid $green_darken_4;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  &:focus {
    border: 3px solid $green_darken_4;
  }
}

.join__submit {
  border: 2px solid $green_darken_4;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  background-color: $green_darken_2;
  color: #fff;
  transition: all 0.2s linear;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: $dark;
    background-color: $green_lighten_2;
  }
}

// Footer Styles

.footer {
  background-color: $green_darken_4;
  height: 80px;
}

.footer__wrapper {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  width: 4rem;

  & a {
    display: inline-block;
    width: 100%;
  }

  & svg {
    display: block;
    width: 100%;
    height: auto;
  }
}

.footer__info {
  color: #fff;
  line-height: 1.25;
  letter-spacing: $spacing;

  & span {
    color: $green_lighten_1;
  }
}

.footer__repo {
  width: 2rem;

  & a {
    display: inline-block;
    width: 100%;
  }

  & svg {
    display: block;
    width: 100%;
    height: auto;
  }
}
