/*===== main styles =====*/
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #1f1e1d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button,
input {
  font-family: "Lato", sans-serif;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

select {
  border: none;
  outline: none;
  cursor: pointer;
}

.header {
  min-height: 80px;
  padding: 14px 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-family: "Permanent Marker", cursive;
  font-size: 36px;
  cursor: pointer;
  color: #2e7d32;
}

.header__navigation {
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.header__link {
  position: relative;
}
.header__link a {
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.header__link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #43a047;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__link:hover.header__link::after {
  opacity: 1;
}

.header__panel,
.header__cart,
.header__loggin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__favorites {
  margin-right: 0.75rem;
}
.header__favorites i {
  color: #ff160c;
}

.header__cart {
  position: relative;
  margin-right: 10px;
}

.header__cart,
.header__loggin {
  padding: 5px 10px;
  border: 1px solid #388e3c;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__cart:hover,
.header__loggin:hover {
  background-color: #c8e6c9;
}

.header__cart span,
.header__loggin span {
  margin-right: 0.5rem;
  letter-spacing: 0.1rem;
}

.header__amount {
  position: absolute;
  top: 2px;
  right: -2px;
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  border-radius: 50%;
  color: #fff;
  background-color: #388e3c;
  font-size: 12px;
}

.header__burger {
  display: none;
}
.header__burger i {
  font-size: 2rem;
  color: #1b5e20;
}

.burger__menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 0 15px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger__menu.active {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.burger__header {
  min-height: 80px;
  padding: 14px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__logo {
  font-family: "Permanent Marker", cursive;
  font-size: 36px;
  cursor: pointer;
  color: #2e7d32;
}

.burger__close {
  cursor: pointer;
}
.burger__close i {
  font-size: 2rem;
  font-weight: 700;
  color: #c62828;
}

.burger__navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.burger__link {
  height: 3rem;
  letter-spacing: 0.1rem;
}

.burger__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__cart,
.burger__loggin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__favorites {
  margin-right: 0.75rem;
}
.burger__favorites i {
  color: #ac0404;
}

.burger__cart {
  position: relative;
  margin-right: 10px;
}

.burger__cart,
.burger__loggin {
  padding: 5px 10px;
  border: 1px solid #388e3c;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.burger__cart:hover,
.burger__loggin:hover {
  background-color: #c8e6c9;
}

.burger__cart span,
.burger__loggin span {
  margin-right: 0.5rem;
  letter-spacing: 0.1rem;
}

.burger__amount {
  position: absolute;
  top: 2px;
  right: -2px;
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  border-radius: 50%;
  color: #fff;
  background-color: #388e3c;
  font-size: 12px;
}

@media (max-width: 992px) {
  .header__navbar,
.header__panel {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
.main {
  min-height: 100vh;
}

.intro {
  min-height: 100vh;
}

.intro__wrapper {
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.intro__description {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__title {
  width: 100%;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.intro__subtitle {
  width: 100%;
  margin-bottom: 2rem;
  line-height: 2;
  font-size: 1.25rem;
}

.intro__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  height: 48px;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: #388e3c;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
}
.intro__btn:hover {
  color: #1f1e1d;
  background-color: #81c784;
}

.intro__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.intro__image img {
  border-radius: 5px;
}
.intro__image .intro__first {
  position: absolute;
  right: 30px;
  bottom: 80px;
  z-index: 5;
  width: 75%;
  height: 65%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__image .intro__second {
  position: absolute;
  left: -20px;
  bottom: 80px;
  z-index: 10;
  width: 55%;
  height: 25%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__image .intro__block {
  position: absolute;
  left: 60px;
  bottom: 80px;
  z-index: 2;
  width: 15%;
  height: 55%;
  border-radius: 5px;
  background-color: #a5d6a7;
}

@media (max-width: 992px) {
  .intro__wrapper {
    grid-template-columns: 1fr;
  }
  .intro__image {
    display: none;
  }
}
.latest {
  padding: 5rem 0;
  background-color: #c8e6c9;
}

.latest__title {
  position: relative;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 0.1rem;
  margin: 0;
  margin-bottom: 0.75rem;
  text-transform: capitalize;
  text-align: center;
}
.latest__title::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 6rem;
  height: 0.25rem;
  background-color: #2e7d32;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 265px;
  gap: 2.5rem;
  margin: 6rem auto 4rem;
}

.card__img {
  height: 225px;
  position: relative;
  background-color: #43a047;
  border-radius: 5px;
  overflow: hidden;
}
.card__img:hover .overlay {
  opacity: 1;
}
.card__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.show__more {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #43a047;
  cursor: pointer;
}

.card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.card__title {
  color: #1b5e20;
}

.card__price {
  color: #43a047;
}

.latest__btn {
  margin: 0 auto;
}

@media (max-width: 576px) {
  .cards__list {
    grid-template-columns: 1fr;
  }
}
.about {
  padding: 5rem 0;
  background-color: #a5d6a7;
}

.about__title {
  margin-bottom: 2rem;
  line-height: 1;
  font-size: 2rem;
  color: #1b5e20;
  font-weight: 700;
}

.about__subtitle {
  line-height: 1.8;
  color: #1b5e20;
  font-size: 1rem;
}

.about__wrapper {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  margin-top: 4rem;
}

.about__item {
  padding: 2.5rem 2rem;
  border-radius: 0.25rem;
  background-color: #81c784;
}

.about__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}
.about__icon span {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #a5d6a7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__header {
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;
  color: #1b5e20;
  font-weight: 700;
}

.about__text {
  font-size: 1rem;
  line-height: 1.8;
  text-align: center;
  color: #1b5e20;
}

@media (max-width: 576px) {
  .about__wrapper {
    grid-template-columns: 1fr;
  }
}
.join {
  padding: 5rem 0;
}

.join__title {
  margin-bottom: 2rem;
  line-height: 1;
  font-size: 2rem;
  font-weight: 700;
}

.join__subtitle {
  line-height: 2;
  max-width: 45rem;
  margin-bottom: 1.25rem;
}

.join__form {
  max-width: 500px;
  height: 2.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: 5px;
}
.join__form input {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.join__email {
  border: 2px solid #1b5e20;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.join__email:focus {
  border: 3px solid #1b5e20;
}

.join__submit {
  border: 2px solid #1b5e20;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #388e3c;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
  cursor: pointer;
}
.join__submit:hover {
  color: #1f1e1d;
  background-color: #81c784;
}

@media (max-width: 576px) {
  .join__form {
    width: 100%;
    grid-template-columns: 65% 35%;
  }
  .join__form .join__submit {
    padding: 0.5rem;
  }
}
.footer {
  background-color: #2e7d32;
  height: 80px;
}

.footer__wrapper {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  width: 4rem;
}
.footer__logo a {
  display: inline-block;
  width: 100%;
}
.footer__logo svg {
  display: block;
  width: 100%;
  height: auto;
}

.footer__info {
  color: #fff;
  line-height: 1.25;
  letter-spacing: 0.1rem;
}
.footer__info span {
  color: #66bb6a;
}

.footer__repo {
  width: 2rem;
}
.footer__repo a {
  display: inline-block;
  width: 100%;
}
.footer__repo svg {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 576px) {
  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__wrapper .footer__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__wrapper .footer__info {
    font-size: 0.75rem;
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .footer__wrapper .footer__repo {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.navigation {
  background-color: #c8e6c9;
}

.navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 15vh;
  color: #1b5e20;
  font-size: 2rem;
  line-height: 1;
}
.navigation__link a {
  color: #388e3c;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.navigation__link a:hover {
  color: #1b5e20;
}
.navigation__link span {
  margin: 0 1rem;
}

.history {
  padding: 5rem 0;
}

.history__wrapper {
  display: grid;
  min-height: calc(80vh - 10rem);
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.history__image {
  border-radius: 5px;
  overflow: hidden;
}
.history__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.history__title {
  position: relative;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 0.1rem;
  margin: 0;
  margin-bottom: 0.75rem;
  text-transform: capitalize;
}
.history__title::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 0;
  width: 6rem;
  height: 0.25rem;
  background-color: #2e7d32;
}

.history__text {
  margin: 4rem auto 0;
  line-height: 2;
  font-size: 1rem;
}

@media (max-width: 992px) {
  .history__wrapper {
    grid-template-columns: 1fr;
  }
  .history__image {
    min-height: 50vh;
    max-width: 500px;
    margin: 0 auto;
  }
  .history__title {
    text-align: center;
  }
  .history__title::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.products__wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 3rem 1.5rem;
  margin: 4rem auto;
}

.filters__panel {
  position: sticky;
  top: 1rem;
}

.filters__item {
  margin-bottom: 1.25rem;
}

.filters__title {
  margin-bottom: 1.25rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
}

.filters__search {
  padding: 0.5rem;
  background-color: #c8e6c9;
  border-radius: 0.25rem;
  letter-spacing: 0.1rem;
}

.filters__category {
  display: block;
  margin: 0.25em 0px;
  padding: 0.25rem 0px;
  text-transform: capitalize;
  color: #388e3c;
  background-color: transparent;
  cursor: pointer;
}
.filters__category.active {
  border-bottom: 1px solid #388e3c;
}

.filters__country {
  background: #c8e6c9;
  letter-spacing: 0.1rem;
  border-radius: 0.25rem;
  border: none;
  padding: 0.25rem;
}

.filters__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filters__colors .all__btn {
  opacity: 0.5;
  background-color: transparent;
  cursor: pointer;
}
.filters__colors .all__btn.active {
  opacity: 1;
}
.filters__colors .color__btn {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: rgb(34, 34, 34);
  margin-right: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.filters__colors .color__btn img {
  display: none;
  width: 180%;
  height: auto;
}
.filters__colors .color__btn.active {
  opacity: 1;
}
.filters__colors .color__btn.active img {
  display: block;
}
.filters__colors .color__btn.color__btn--red {
  background-color: rgb(255, 0, 0);
}
.filters__colors .color__btn.color__btn--green {
  background-color: rgb(0, 255, 0);
}
.filters__colors .color__btn.color__btn--blue {
  background-color: rgb(0, 0, 255);
}
.filters__colors .color__btn.color__btn--black {
  background-color: rgb(0, 0, 0);
}
.filters__colors .color__btn.color__btn--yellow {
  background-color: rgb(255, 185, 0);
}

.filters__price {
  margin-bottom: 0.25rem;
  color: #388e3c;
}

.filters__range {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}

.filters__item.shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shipping__label {
  margin-right: 1rem;
  text-transform: capitalize;
  font-size: 1rem;
}

.shipping__input {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}

.filters__clear {
  background: #ff160c;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  cursor: pointer;
}

.catalog__panel {
  margin-bottom: -3rem;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid__mode,
.list__mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #1f1e1d;
  border-radius: 0.25rem;
  cursor: pointer;
}
.grid__mode i,
.list__mode i {
  font-size: 1.5rem;
}
.grid__mode.active,
.list__mode.active {
  background-color: #1f1e1d;
}
.grid__mode.active i,
.list__mode.active i {
  color: #fff;
}

.grid__mode {
  margin-right: 0.5rem;
}

.catalog__info {
  color: #388e3c;
}

.catalog__line {
  border-top: 1px solid #388e3c;
}

.catalog__label {
  color: #388e3c;
}

.catalog__select {
  font-size: 1rem;
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
  border: none;
}

.cards__list.icons,
.cards__list.list {
  display: none;
}

.cards__list.icons.active,
.cards__list.list.active {
  display: grid;
}

.cards__list.icons {
  grid-template-columns: 1fr;
  grid-template-rows: 216px;
  gap: 3rem;
}
.cards__list.icons .card__item {
  height: 216px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100%;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cards__list.icons .card__img {
  height: 100%;
}
.cards__list.icons .card__description {
  display: block;
}
.cards__list.icons .card__title {
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-weight: 700;
}
.cards__list.icons .card__price {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
}
.cards__list.icons .card__text {
  margin-bottom: 1rem;
  line-height: 1.5;
}
.cards__list.icons .card__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8rem;
  height: 36px;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  background-color: #388e3c;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
}
.cards__list.icons .card__details:hover {
  color: #1f1e1d;
  background-color: #81c784;
}